%title= page_title

=# airbrake_javascript_notifier # notify JS errors to AirBrake

= stylesheet_link_tag :application
/[if lt IE 9]
  = stylesheet_link_tag :ie
= google_font_tag

%meta{charset: 'utf-8'}
= csrf_meta_tag

= javascript_include_tag :application
= yield(:javascript)
